/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html{
    font-size: 10px;
}

:root{
    --main-color: #62CD85;
    --second-color: #fff;
    --third-color: #bbb2b2;
    --hover-color: #84e6a4;
    --error-color: #e74c3c;
}

body{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: var(--second-color);
    border-radius: 0.5rem;
    box-shadow: 0 .2erm .5rem rgba(0,0,0,0.3);
    width: 40rem;
    max-width: 100%;
    overflow: hidden;
}

.header{
   background-color: var(--hover-color);
   padding: 2rem 4rem;
}

.header h2{
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

form{
    padding: 3rem 4rem;
}

.control{
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    position: relative;
}

.control label{
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.control input{
    border: .2rem solid var(--third-color);
    border-radius: .4rem;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-family: inherit;
    padding: 1rem;
}

.control.success input{
    border-color: var(--main-color);
}

.control.error input{
    border-color: var(--error-color);
}

.control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    font-size: 1.5rem;
}

.control.error small{
    visibility: visible;
    color: var(--error-color);
}

form button{
    background-color: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .4rem;
    cursor: pointer;
    color: var(--second-color);
    width: 100%;
    padding: .4rem;
    font-size: 2rem;
    font-family: inherit;
    transition: .3s;
}

form button:hover{
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}





